.charges {
    &__form-title {
        align-items: flex-end;
        color: var(--secondary);
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: space-between;
        margin-bottom: 8px;

        small {
            font-size: 13px;

            &.red {
                color: #C4334D;
            }
        }

        span {
            &:nth-child(2) {
                text-align: right;
            }
        }
    }

    &__form {
        margin-top: auto;

        .qnt {
            margin-bottom: 16px;
        }

        & > .button {
            display: flex;
            width: 100%;
            @media(min-width: $lg) {
                max-width: 198px;
                margin-left: auto;
            }
        }
    }

    &__form-button-block {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 12px;

        p {
            font-size: 13px;
            margin: 0;
        }

        .button {
            width: 100%;
            @media(min-width: 480px) {
                max-width: 198px;
            }
        }
    }
}

.charge {
    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &__title {
        color: var(--secondary);
        margin-bottom: 0;
    }

    &__value {
        font-size: 26px;
        line-height: 1.66666;

        &--big {
            font-size: 38px;
            line-height: 1.33333;
        }

        &.green {
            color: var(--brand_green);
        }
    }
}