.checkbox {
    align-items: center;
    display: flex;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.487 1.3125L5.2045 7.6335L2.513 4.921L0 7.455L5.2045 12.6875L14 3.83775L11.487 1.3125Z' fill='white'/%3E%3C/svg%3E%0A");
            background-color: #53922C;
        }

        &:not(:disabled) ~ .checkbox__icon,
        &:not(:disabled) ~ .checkbox__text {
            cursor: pointer;
        }

        &:disabled ~ .checkbox__icon,
        &:disabled ~ .checkbox__text {
            opacity: 0.6;
            user-select: none;
        }
    }

    &__icon {
        align-items: center;
        border: 1px solid #487D26;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px;
        display: flex;
        height: 24px;
        justify-content: center;
        min-width: 24px;
        margin-right: 12px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 24px;
    }
}