<header class="header">
    <div class="header__container">
        <a class="header__back" href="#">
            <svg aria-hidden="true">
                <use xlink:href="#arrow_left" />
            </svg>
            <span>Вернуться на основной сайт</span>
        </a>

        <div class="header__logo">
            Аренда серверных<br> мощностей
        </div>

        <button class="js-menu-opener header__burger" type="button" title="Меню">
            <svg aria-hidden="true">
                <use xlink:href="#menu" />
            </svg>
        </button>

        <nav class="main-menu">
            <button class="js-menu-closer main-menu__closer" type="button" title="Закрыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="#close" />
                </svg>
            </button>
            <ul class="main-menu__list">
                <li class="main-menu__item">
                    <a class="main-menu__link is-active" href="#">Главная</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Баланс</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Начисления</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Доходность</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Техподдержка</a>
                </li>
            </ul>
        </nav>
    </div>
</header>