.arenda {
    &__text {
        font-weight: 300;
    }

    &__value {
        font-size: 38px;
        font-weight: 500;
        line-height: 1.26315;
    }

    &__button-block {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-end;

        .button {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}