.arenda {
    &__title {
        font-size: 26px;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 48px;
        text-align: center;

        span {
            color: var(--brand_green);
            font-size: 76px;
            font-weight: 900;
            display: block;
            margin: 24px auto;
        }
    }

    &__button-block {
        text-align: right;

        .button {
            min-width: 134px;
        }
    }
}